@import url('http://fonts.googleapis.com/css?family=Lato:300,400,700');

*, *:after, *:before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.clearfix:before, .clearfix:after {
    display: table;
    content: '';
}

.clearfix:after {
    clear: both;
}

body {
    background: #fff;
    color: #7b7b7b;
    font-weight: 400;
    font-size: 16px;
    font-family: "Lato", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow: hidden;
    overflow-y: scroll;
    /* force scroll to appear */
}

ul {
    padding-left: 0px;
}

/* helper class when showing content */
.noscroll {
    overflow: hidden;
}

a {
    outline: none;
    color: #3B97D3;
    text-decoration: none;
}

a:hover,
a:focus {
    color: #179BD7;
    outline: none;
}

button:focus {
    outline: none;
}

/* Sidebar */
.sidebar {
    text-align: center;
    background: #2C3E50 url("../img/sb-bg.svg") no-repeat;
    background-size: 100%;
    color: white;
    z-index: 1000;
    position: fixed;
    width: 250px;
    max-width: 100%;
    height: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    padding: 2em 1em;
}

.logo {
    background: url("../img/logo.svg") no-repeat 50%;
    margin: 0 auto;
    background-size: 100%;
    width: 100%;
    height: 80px;
}

.search {
    width: 90%;
    margin: 2em auto 0;
}

.search input {
    border: none;
    padding: 10px;
    width: 80%;
    background-color: #35495E;
    color: white;
}

.search .button {
    background-color: #3B97D3;
    padding: 11px;
    width: 15%;
    cursor: pointer;
    border-radius: 0px 4px 4px 0px;
}

.search .button:hover {
    background-color: #2980BA;
}

.filter {
    text-align: left;
    width: 90%;
    margin: 1em auto 0;
}

.filter p {
    color: white;
    font-weight: bolder;
    font-size: 1em;
}

.filter ul {
    list-style: none;
    -webkit-padding-start: 10px;
    height: 25%;
    overflow-y: scroll;
}

.filter ul li {
    font-size: .8em;
    color: white;
    margin-bottom: 2px;
    cursor: pointer;
    padding: 5px;
    border-radius: 3px;
    background-color: #324559;
}

.count-badge {
    font-size: .9em;

    font-weight: bolder;
    float: right;
}

.sidebar h1 {
    margin: 0.75em 0 0;
    font-size: 2em;
    line-height: 1;
}

.sidebar h1 span {
    display: block;
}

.related {
    font-size: 0.85em;
    padding-bottom: 1em;
}

.related h3 {
    margin: 3em 0 0.5em 0;
    font-size: 0.95em;
}

.related a {
    display: block;
    color: inherit;
}

.related a:hover,
.related a:focus {
    color: #414741;
}

/* Main content */
.main {
    position: relative;
    z-index: 50;
}

/* Grid container */
.grid {
    position: relative;
    padding-top: 44px;
}

/* Overlay */
.grid::after {
    content: '';
    background: white;
    opacity: 0;
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-transition: opacity 0.5s;
    transition: opacity 0.5s;
}

.view-single .grid::after {
    opacity: 1;
}

/* Top bar above the grid */
.top-bar {
    background: #fff;
    width: 100%;
    line-height: 1;
    padding: 15px 15px 10px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
}

.top-bar__headline {
    margin: 0;
    font-size: 0.75em;
}

/* Menu button for toggling the sidebar (appears on small screen) */
.menu-toggle {
    position: fixed;
    z-index: 100;
    display: block;
    width: 25px;
    height: 25px;
    top: 14px;
    left: 14px;
    cursor: pointer;
    background: none;
    border: none;
    display: none;
    margin: -2px 15px 0 0;
}

.menu-toggle span {
    position: absolute;
    top: 50%;
    left: 0;
    display: block;
    width: 100%;
    height: 2px;
    background-color: #3B97D3;
    font-size: 0px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.menu-toggle span:before,
.menu-toggle span:after {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    background: #3B97D3;
    content: '';
}

.menu-toggle span:before {
    -webkit-transform: translateY(-7px);
    transform: translateY(-7px);
}

.menu-toggle span:after {
    -webkit-transform: translateY(7px);
    transform: translateY(7px);
}

/* Grid item */
.submission_item {
    padding: 45px 55px 30px;
    position: relative;
    color: inherit;
    margin: 2%;
    background: #ECF0F1;
    min-height: 300px;
    cursor: pointer;
    text-align: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: center;
    justify-content: center;
    margin-bottom: 23px;
}

.submission_item:hover {
    text-decoration: none;
}

.submission_item * {
    z-index: 10;
}

#article-count {
    padding-right: 7px;
    font-weight: bolder;
    color: #3B97D3;
}

#search-term {
    padding-left: 7px;
    font-weight: bolder;
    color: #3B97D3;
}

/* grid item element and full content element styles */
.title {
    margin: 0;
    font-size: 1.275em;
    font-weight: bolder;
    text-align: center;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
}

.title--preview {
    /*-webkit-flex: 1;*/
    flex: 1;
    /*display: -webkit-flex;*/
    /*display: flex;*/
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    width: 100%;
}

.loader {
    height: 0px;
    width: 40%;
    margin: 0 auto;
    position: relative;
    background: rgba(0, 0, 0, 0.1);
}

.loader::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    background: #3B97D3;
    left: 0;
    top: -1px;
    -webkit-transform: scale3d(0, 1, 1);
    transform: scale3d(0, 1, 1);
    -webkit-transform-origin: 0% 30%;
    transform-origin: 0% 30%;
}

.keywords {
    list-style: none;
    -webkit-padding-start: 0px;
}

.keywords li {
    display: inline-block;
    font-size: .6em;
    font-weight: bolder;
    text-transform: uppercase;
    /*border: #7F8C8D 1px solid;*/
    background-color: #DCE0E1;
    padding: 2px 3px;
    border-radius: 2px;
}

.highlight {
    background-color: #F0C419;
    padding: 2px 2px;
}

/*measurements*/

.measurement-icon {
    background-size: 100%;
    width: 15%;
    display: inline-block;
    height: 40px;
    margin: 0 auto;
    background-repeat: no-repeat;
}

.transcriptomics {
    background-image: url(../img/measurements/transcriptomics.svg);
    width: 30%;
}

.proteomics {
    background-image: url(../img/measurements/proteomics.svg);

}

.meteorology {
    background-image: url(../img/measurements/meteorology.svg);
}

.fish {
    background-image: url(../img/measurements/fish.svg);
}

.brain {
    background-image: url(../img/measurements/brain.svg);
}

.transport {
    background-image: url(../img/measurements/transport.svg);
}

.chemistry {
    background-image: url(../img/measurements/chemistry.svg);
}

.nmr {
    background-image: url(../img/measurements/nmr.svg);
}

.virus {
    background-image: url(../img/measurements/virus.svg);
}

.methylation {
    background-image: url(../img/measurements/methylation.svg);
}

.genomics {
    background-image: url(../img/measurements/genomic.svg);
}

.rna {
    background-image: url(../img/measurements/rna.svg);
}

.metabolomics {
    background-image: url(../img/measurements/metabolomics.svg);
    width: 20%;
}

.snp {
    background-image: url(../img/measurements/snp.svg);
    width: 30%;
}

.grid__item--loading .loader::before {
    -webkit-transition: -webkit-transform 1s;
    transition: transform 1s;
    -webkit-transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
    transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
}

.category {
    margin: 0;
    position: relative;
    font-size: 0.95em;
    font-style: italic;
    text-align: center;
    display: block;
}

.title--preview,
.loader,
.category {
    -webkit-transition: -webkit-transform 0.2s, opacity 0.2s;
    transition: transform 0.2s, opacity 0.2s;
    -webkit-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
    transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
}

/* closing (delays) */
.title--preview {
    -webkit-transition-delay: 0.15s;
    transition-delay: 0.15s;
}

.loader {
    -webkit-transition-delay: 0.1s;
    transition-delay: 0.1s;
}

.submission_item .category {
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
}

/* opening */
.grid__item--animate .title--preview {
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
    opacity: 0;
    -webkit-transform: translate3d(0, -20px, 0);
    transform: translate3d(0, -20px, 0);
}

.grid__item--animate .loader {
    -webkit-transition-delay: 0.1s;
    transition-delay: 0.1s;
    opacity: 0;
    -webkit-transform: translate3d(0, -30px, 0);
    transform: translate3d(0, -30px, 0);
}

.grid__item--animate .category {
    -webkit-transition-delay: 0.15s;
    transition-delay: 0.15s;
    opacity: 0;
    -webkit-transform: translate3d(0, -40px, 0);
    transform: translate3d(0, -40px, 0);
}

.meta {
    font-size: 0.765em;
    text-align: center;
}

.meta .fa {
    margin-right: 4px;
}

.meta:before, .meta:after {
    display: table;
    content: '';
}

.meta:after {
    clear: both;
}

.meta__avatar {
    display: block;
    border-radius: 50%;
    margin: 2em auto;
}

.submission_item:hover .meta--preview .meta__avatar,
.submission_item:focus .meta--preview .meta__avatar {
    -webkit-filter: none;
    filter: none;
}

.meta_date,
.meta__link {
    display: block;
    color: white;
    margin-bottom: 1em;
    font-weight: bolder;
    font-size: 1.1em;
}

.meta__misc {
    display: block;
    clear: both;
    text-align: left;
    padding: 5px 0;
}

.meta__misc--seperator {
    padding: 20px 0 0;
    margin: 65px 0 0;
    border-top: 1px solid white;
}

.article-nav {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
}

.article-nav button {
    border: none;
    color: #3B97D3;
    background: none;
}

.article-nav button:hover {
    color: #333;
}

.meta--preview .meta__avatar,
.meta--preview .meta_date,
.meta--preview .meta_measurement,
.meta--preview .meta__link {
    -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
    transition: transform 0.3s, opacity 0.3s;
    -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
    transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}

.grid__item--loading .meta__avatar {
    -webkit-transition-delay: 0.1s;
    transition-delay: 0.1s;
}

.grid__item--loading .meta_date {
    -webkit-transition-delay: 0.17s;
    transition-delay: 0.17s;
}

.grid__item--loading .meta_measurement {
    -webkit-transition-delay: 0.17s;
    transition-delay: 0.17s;
}

.grid__item--loading .meta__link {
    -webkit-transition-delay: 0.24s;
    transition-delay: 0.24s;
}

.grid__item--loading .meta__avatar,
.grid__item--loading .meta_date,
.grid__item--loading .meta_measurement
.grid__item--loading .meta__link {
    -webkit-transform: scale3d(0.5, 0.5, 1);
    transform: scale3d(0.5, 0.5, 1);
    opacity: 0;
}

/* Grid footer */
.page-meta {
    width: 100%;
    background: #fff;
    width: 100%;
    padding: 15px 15px 10px;
    text-align: center;
    font-size: 0.75em;
    font-weight: bold;
    cursor: default;
}

/* Placeholder element (dummy that gets animated when we click on an item) */
.placeholder {
    pointer-events: none;
    position: absolute;
    width: calc(100% + 5px);
    height: calc(100vh + 5px);
    z-index: 100;
    top: 0;
    left: 0;
    background: #fff;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
}

.placeholder.placeholder--trans-in {
    -webkit-transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
    -webkit-transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
    transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
}

.placeholder.placeholder--trans-out {
    -webkit-transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
}

/* main content */
.content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    pointer-events: none;
    height: 0;
    /* Avoid second scroll bar in Chrome! */
    visibility: hidden;
    z-index: 400;
    overflow: hidden;
}

.content.content--show {
    height: 100vh;
    pointer-events: auto;
    visibility: visible;
}

/* scroll helper wrap */
.scroll-wrap {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 1;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}

/* single content item */
.content__item {
    position: absolute;
    top: 0;
    width: 100%;
    overflow: hidden;
    height: 0;
    opacity: 0;
    padding: 23px 60px 80px 60px;
    pointer-events: none;
    font-size: 0.85em;
}

.content__item.content__item--show {
    height: auto;
    min-height: 100vh;
    opacity: 1;
    pointer-events: auto;
    -webkit-transition: opacity 0.6s;
    transition: opacity 0.6s;
}

/* content elements */
.category--full {
    font-size: 1.25em;
    margin-bottom: 20px;
    color: #3B97D3;
}

.title--full {
    font-size: 1.45em;
}

.meta--full {
    font-size: 1em;
    margin: 0 auto 2em;
    max-width: 1200px;
}

.meta--full .meta__author {
    display: block;
    text-align: center;
    font-weight: bold;
    margin-bottom: 20px;
}

.meta--full .meta__author::before {
    content: 'by ';
    font-weight: normal;
}

.meta--full .meta__category {
    font-style: italic;
    float: left;
    margin: 0 5px;
}

.meta--full .meta__category::before {
    content: "in ";
}

.meta--full .meta__avatar {
    margin: 1em auto;
}

.category--full,
.title--full,
.meta--full .meta__avatar,
.meta--full .meta__author,
.meta--full .meta_date,
.meta--full .meta__link {
    opacity: 0;
}

.content__item p {
    opacity: 0;
}

.category--full,
.title--full {
    -webkit-transform: translate3d(0, 40px, 0);
    transform: translate3d(0, 40px, 0);
}

.meta--full .meta__avatar,
.meta--full .meta__author,
.meta--full .meta_date,
.meta--full .meta__link {
    -webkit-transform: scale3d(0.5, 0.5, 1);
    transform: scale3d(0.5, 0.5, 1);
}

.content__item--show .category--full,
.content__item--show .title--full,
.content__item--show .meta--full .meta__avatar,
.content__item--show .meta--full .meta__author,
.content__item--show .meta--full .meta_date,
.content__item--show .meta--full .meta__link {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
    transition: transform 0.3s, opacity 0.3s;
    -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
    transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}

.content__item--show .category--full,
.content__item--show .title--full {
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.content__item--show .title--full {
    -webkit-transition-delay: 0.05s;
    transition-delay: 0.05s;
}

.content__item--show .meta--full .meta__avatar {
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s;
}

.content__item--show .meta--full .meta_date {
    -webkit-transition-delay: 0.27s;
    transition-delay: 0.27s;
}

.content__item--show .meta--full .meta__link {
    -webkit-transition-delay: 0.34s;
    transition-delay: 0.34s;
}

.content__item--show.content__item p {
    opacity: 1;
    -webkit-transition: opacity 0.5s 0.25s;
    transition: opacity 0.5s 0.25s;
}

/* close button (for content and sidebar) */
.close-button {
    position: absolute;
    border: none;
    background: none;
    margin: 0;
    z-index: 100;
    top: 0;
    right: 0;
    font-size: 18px;
    color: #ddd;
    cursor: pointer;
    pointer-events: none;
    padding: 20px 30px;
    opacity: 0;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: opacity 0.3s;
    transition: opacity 0.3s;
}

.close-button span {
    display: none;
}

.close-button:hover {
    color: #7b7b7b;
}

.meta--preview .meta_date {
    color: inherit;
}

/* show class for content close button */
.close-button--show {
    opacity: 1;
    pointer-events: auto;
}

/* Viewport sizes based on column number and sidebar */
/* 1 column */
/* 2 columns */
/* 3 columns */
/* 4 columns */
/* 5 columns */
/* 6 columns */
@media screen and (min-width: 600px) {
    html,
    body,
    .container,
    .main {
        height: 100vh;
    }

    .main {
        height: 100%;
        margin-left: 300px;
    }

    .content__item {
        font-size: 1em;
    }

    .submission_item {
        padding: 45px 45px 30px;
        margin-bottom: 23px;
    }

    /* Demo ad */
    body #cdawrap {
        right: auto;
        left: 30px;
        top: auto;
        bottom: 0;
        background: none;
        border: none;
        width: 240px;
        background: white;
    }

    body #cdawrap .carbon-text {
        color: #7b7b7b;
    }

    body #cdawrap a.carbon-poweredby {
        color: #7883C4;
    }

    body #cdawrap a:hover.carbon-poweredby {
        color: #333;
    }

    body #cdawrap #cda-remove {
        display: none;
    }
}

@media screen and (min-width: 900px) {
    .grid {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    /* 2 columns */
    .submission_item {
        width: 48%;
        margin: 1%;
        border: none;
        margin-bottom: 23px;
    }

    .submission_item::before {
        top: 5px;
        right: 5px;
        bottom: 5px;
        left: 5px;
        border: 1px solid rgba(74, 74, 74, 0.075);
        -webkit-transition: opacity 0.3s;
        transition: opacity 0.3s;
    }

    .grid__item--loading.submission_item::before {
        opacity: 0;
    }
}

@media screen and (min-width: 1200px) {
    /* 3 columns */
    .submission_item {
        width: 33.333%;
    }
}

@media screen and (min-width: 1500px) {
    /* 4 columns */
    .submission_item {
        width: 25%;
    }
}

@media screen and (min-width: 1800px) {
    /* 5 columns */
    .submission_item {
        width: 20%;
    }
}

@media screen and (min-width: 2100px) {
    /* 6 columns */
    .submission_item {
        width: 16.66%;
    }
}

/* small screen changes for sidebar (it becomes an off-canvas menu) */
@media screen and (max-width: 599px) {
    .sidebar {
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
        -webkit-transition: -webkit-transform 0.3s;
        transition: -webkit-transform 0.3s;
    }

    .sidebar.sidebar--open {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

    .sidebar.sidebar--open ~ .main {
        pointer-events: none;
    }

    .top-bar {
        padding: 22px 15px 10px 60px;
    }

    .menu-toggle {
        display: inline-block;
    }

    .sidebar .close-button {
        opacity: 1;
        pointer-events: auto;
    }

    .title--full {
        font-size: 2em;
    }

    .content__item {
        padding: 80px 20px 40px;
    }

    .content .close-button {
        padding: 10px 20px;
    }

    .content .close-button::before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        background: #fff;
        border-bottom: 1px solid white;
        width: 100vw;
        height: 50px;
        pointer-events: none;
        z-index: -1;
    }
}

@media screen and (max-height: 580px) {
    body #cdawrap {
        display: none;
    }
}

/* Redefine some styles for this layout */

.content {
    left: auto;
    right: 0;
    width: 100vw;
}

.content__item p {
    font-size: 1.15em;
    -webkit-margin-before: .5em;
    -webkit-margin-after: .5em;
}

/* Redefine the delays for the content items when they appear; redefine the translation (now from the left) */
.title--preview {
    -webkit-transition-delay: 0.15s;
    transition-delay: 0.15s;
}

.loader {
    -webkit-transition-delay: 0.1s;
    transition-delay: 0.1s;
}

.submission_item .category {
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
}

.grid__item--animate .title--preview {
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
    -webkit-transform: translate3d(-20px, 0, 0);
    transform: translate3d(-20px, 0, 0);
}

.grid__item--animate .loader {
    -webkit-transition-delay: 0.15s;
    transition-delay: 0.15s;
    -webkit-transform: translate3d(-30px, 0, 0);
    transform: translate3d(-30px, 0, 0);
}

.grid__item--animate .category {
    -webkit-transition-delay: 0.3s;
    transition-delay: 0.3s;
    -webkit-transform: translate3d(-40px, 0, 0);
    transform: translate3d(-40px, 0, 0);
}

.category--full,
.title--full {
    -webkit-transform: translate3d(40px, 0, 0);
    transform: translate3d(40px, 0, 0);
}

.content__item--show .title--full {
    -webkit-transition-delay: 0.15s;
    transition-delay: 0.15s;
}

@media screen and (min-width: 600px) {
    .sidebar,
    .grid {
        -webkit-transition: -webkit-transform 0.5s;
        transition: transform 0.5s;
    }

    .view-single .sidebar,
    .view-single .grid {
        -webkit-transform: translate3d(calc(280px - 100vw), 0, 0);
        transform: translate3d(calc(280px - 100vw), 0, 0);
    }

    .content__item {
        right: 0;
        padding-left: 340px;
    }

    .meta--full {
        position: fixed;
        width: 280px;
        height: 100%;
        background: #2C3E50 url("../img/sb-bg.svg") no-repeat;
        background-size: 100%;
        color: white;
        top: 0;
        left: 0;
        font-size: 0.92em;
        padding: 15px 30px;
    }

    .article-nav {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        border-top: 1px solid white;
    }

    .article-nav button {
        width: 50%;
        padding: 25px;
    }

    .article-nav button:hover {
        color: #fff;
        background: #3B97D3;
    }

    .article-nav button:first-child {
        border-right: 1px solid white;
    }
}

@media screen and (max-width: 899px) {
    .meta--full .meta_date,
    .meta--full .meta__link {
        float: none;
        text-align: center;
    }

    .meta__misc--seperator {
        margin-top: 20px;
    }

    .article-nav button span {
        display: none;
    }
}

@media screen and (max-width: 599px) {
    .meta__misc,
    .article-nav {
        display: none;
    }
}

.filter-list li.active {
    background-color: #3B97D3;
    color: white;
}

/*viewer css*/

.counter {
    float: right;
    padding: 1px 4px;
    font-size: .9em;
    font-weight: bold;
    color: #999;
    background: #eee;
    border-radius: 2px;
}

.counter-orange {
    background-color: #eb6b22;
    color: #fff;
    text-shadow: none;
}

.counter-blue {
    background-color: #27aae1;
    color: #fff;
    text-shadow: none;
}

.search-item-block {
    height: 95px;
    overflow: hidden;
}

.search-item-details {
    color: #808285;
    text-align: left;
    font-size: 1.1em;
    font-weight: bolder;
    padding-top: 10px;
    padding-bottom: 10px;

}



/**

ISA-Tab Viewer CSS
*/

.toolbar {
    width: 100%;

    padding: 15px;
    background-color: #f1f2f1;

}

.isa-view {
    color: #35495E;
    font-size: 12px;
    width: 100%;
    height: 100%;
}

.isa-study-list {
    height: 100%;
    width: 15%;
    padding: 5px;
    float: left;
}

.isa-study-list ul {
    list-style: none;
    -webkit-padding-start: 10px;
}

.isa-study-list li {
    color: #35495E;
    font-size: 1.25em;
    font-weight: bolder;
    cursor: pointer;
}

.isa-study-list li:hover, .isa-study-list li.active {
    color: #3B97D3;
}

.isa-study-list h3 {
    font-size: 1.4em;
    font-weight: bolder;
    text-transform: uppercase;
}

.isa-breadcrumbs ul {

    list-style: none;
    -webkit-padding-start: 0px;
    font-size: 1.1em;
    font-weight: bolder;
    text-transform: uppercase;
    border-radius: 4px;
    padding-bottom: 20px;
}

.isa-breadcrumbs li {
    float: left;
    margin-right: 0px;
    color: #3B97D3;
    cursor: pointer;
    padding: 9px;
}

.isa-breadcrumbs li.active {
    background-color: #3B97D3;
    padding: 10px;
    color: white;
}

.isa-breadcrumbs li.active:hover {
    background-color: #005580;
    padding: 10px;
    color: white;
}

.isa-main-view {
    float: left;
    /* width: 100%; */
    height: 100%;
}

/**
 * NEW BREADCRUMB SYSTEM
 */
.isaex-breadcrumb {
    list-style: none;
    overflow: hidden;
    font-size: 1.3em;
    font-weight: bold;
}

.isaex-breadcrumb li {
    float: left;
}

.isaex-breadcrumb li a {
    color: white;
    text-decoration: none;
    padding: 10px 0 10px 45px;
    background: blue; /* fallback color */
    background: hsla(204,63%,43%,1);
    position: relative;
    display: block;
    float: left;
}

.isaex-breadcrumb li a::after {
  content: " ";
  display: block;
  width: 0;
  height: 0;
  border-top: 50px solid transparent; /* Go big on the size, and let overflow hide */
  border-bottom: 50px solid transparent;
  border-left: 30px solid hsla(204,63%,43%,1);
  position: absolute;
  top: 50%;
  margin-top: -50px;
  left: 100%;
  z-index: 2;
}

.isaex-breadcrumb li a::before {
  content: " ";
  display: block;
  width: 0;
  height: 0;
  border-top: 50px solid transparent;
  border-bottom: 50px solid transparent;
  border-left: 30px solid white;
  position: absolute;
  top: 50%;
  margin-top: -50px;
  margin-left: 1px;
  left: 100%;
  z-index: 1;
}

.isaex-breadcrumb li:first-child a {
  padding-left: 10px;
}
.isaex-breadcrumb li:nth-child(2) a       { background:        hsla(204,63%,53%,1); }
.isaex-breadcrumb li:nth-child(2) a:after { border-left-color: hsla(204,63%,53%,1); }
.isaex-breadcrumb li:nth-child(3) a       { background:        hsla(204,63%,63%,1); }
.isaex-breadcrumb li:nth-child(3) a:after { border-left-color: hsla(204,63%,63%,1); }
.isaex-breadcrumb li:nth-child(4) a       { background:        hsla(204,63%,73%,1); }
.isaex-breadcrumb li:nth-child(4) a:after { border-left-color: hsla(204,63%,73%,1); }
.isaex-breadcrumb li:nth-child(5) a       { background:        hsla(204,63%,83%,1); }
.isaex-breadcrumb li:nth-child(5) a:after { border-left-color: hsla(204,63%,83%,1); }
.isaex-breadcrumb li:last-child a {
  /* background: transparent !important;
  color: black; */
  pointer-events: none;
  cursor: default;
  padding-right: 20px;
}
.isaex-breadcrumb li:last-child a::after {
  border: 0;
}

#study-info {
    width: 100%;
    height: 90%;
    /* overflow-y: scroll; */
    margin-top: 20px;
}

.modal-dialog {
    width: 80%;
}

#table-info {
    width: 100%;
    height: 500px;
    overflow: scroll;
}

#study-id {
    color: #3B97D3;
    font-size: 1.6em;
    font-weight: bolder;
    padding-bottom: 10px;
    border-bottom: 1px solid #f1f2f1;
}

#study-title {
    font-size: 1.8em;
    font-weight: bolder;
    padding-top: 20px;
}

#study-description {
    padding-top: 10px;
    font-size: 1.2em;
    font-weight: normal;

}

.characteristic_type {
    font-weight: bolder;
    text-align: center;
}

.characteristic_type b {
    width: 100%;
}

.distribution {
    float: left;

    font-weight: bolder;
    font-size: .9em;
    width: 80%;
}

.distribution-value {
    float: right;
    color: white;
    text-align: right;
    width: 20%;
}

.distribution-value span {
    text-align: right;
    color: #3B97D3;

    font-weight: bolder;
    padding: 4px 7px;
}

.section-header {
    color: #324559;
    font-weight: normal;
    font-size: 1.5em;
}

#publications ul, #assays ul {
    list-style: none;
    -webkit-padding-start: 0px;
    overflow: scroll;
    width: 100%;
}

#sample-distribution ul {
    list-style: none;
    -webkit-padding-start: 0px;
    width: 100%;
}

.distribution-group {
    margin-bottom: 3px;
    width: 100%;
    clear: both;
}

#protocols, #factors, #contacts {
    width: 100%;
    float: left;
}

#protocols ul, #factors ul, #contacts ul {
    list-style: none;
    -webkit-padding-start: 0px;
    overflow: scroll;
    width: 100%;
}

#publications ul li {
    float: left;
    font-size: 1em;
    width: 100%;
}

#sample-distribution ul li {
    float: left;
    margin-right: 10px;
    font-size: 1em;
    width: 300px;
    min-width: 300px;
    background-color: #ecf0f1;
    max-height: 300px;
    min-height: 300px;
    padding: 5px;
    margin-bottom: 10px;
    border-radius: 5px;
    cursor: pointer;
}

#assays ul li {
    margin-bottom: 4px;
}

#protocols ul li, #factors ul li {

}

#assays ul li span {
    color: #3B97D3;
    font-weight: bolder;
}

#filters {
    height: 75%;
    overflow-y: scroll;
}

#assay-list {
    height: 200px;
}

.publication-title {
    font-weight: bolder;
    font-size: 1em;
}

.publication-authors, .publication-pubmed-id {
    font-weight: normal;
    font-size: .8em;
    color: #7f8c8d;
}

.type-tag {
    font-weight: bolder;
    background-color: #ECF0F1;
    color: #7F8C8D;
    font-size: .8em;
    padding: 3px 5px;
    border-radius: 3px;
    text-transform: lowercase;

}

.protocol-name {
    font-weight: bolder;
}

/*
    assay types
*/

#assays, #publications, #samples {
    padding-bottom: 30px;
    padding-top: 30px;
}

.section-header span {
    margin-left: 10px;
    color: #3B97D3;
    font-weight: bolder;
}

.measurement-type, .technology-type {
    font-weight: bolder;
    font-size: 14px;

}

.technology-platform {
    font-weight: normal;
    color: #aaa;
    font-size: 1em;
}

.assay-icon {
    background-size: 40px;
    width: 40px;
    height: 40px;
    margin: 0 auto;
}

.assay-information {
    width: 80%;
    display: inline-block;

}

.assay-information .assay-file-name {
    width: 60%;
    font-size: .8em;
    text-overflow: clip;
    text-overflow: ellipsis;
    text-overflow: "…";
}

.assay-count {
    width: 20%;
    display: inline-block;
    float: right;
}

.assay-count .count-badge {
    padding-top: 4em;
}

#reset-button {
    color: white;
    font-weight: bolder;
}

.show-all, .show-next-5, .reset {
    float: right;
    font-size: .8em;
    text-decoration: underline;
    cursor: pointer;
    margin: 4px;
}

.value {
    width: 90%;
    overflow: hidden;
    text-overflow-ellipsis: ellip;
}

/*custom scroll bar*/

body::-webkit-scrollbar-track, #filters::-webkit-scrollbar-track, .scroll-wrap::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #F5F5F5;
}

body::-webkit-scrollbar, #filters::-webkit-scrollbar, .scroll-wrap::-webkit-scrollbar {
    width: 7px;
    background-color: #F5F5F5;
}

body::-webkit-scrollbar-thumb, #filters::-webkit-scrollbar-thumb, .scroll-wrap::-webkit-scrollbar-thumb {
    background-color: #324559;

}

.distribution-list::-webkit-scrollbar-track {

    background-color: #F5F5F5;
}

.distribution-list::-webkit-scrollbar {
    width: 7px;
    background-color: #F5F5F5;
}

.distribution-list::-webkit-scrollbar-thumb {
    background-color: #7F8C8D;
}

/* canvas style */
#sample-distribution canvas {
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 120px !important;
    height: 120px !important;
}

/* handsontable styles */
.isa-table-main {
    float: left;
    width: 100%;
    height: 100%;
}

@media screen and (min-width: 600px) {
    .isa-table-main {
        padding-left: 300px;
        padding-right: 40px;
    }
}

#hot {
    margin-right: 15px;
    overflow: hidden;
}

.inline-block {
    display: inline-block;
}

.inline-block p {
    display: inline;
}

.server-error .client-error {
    vertical-align: middle;
    text-align: center;
    min-height: 50px;
    font-size: 25px;
    color: #990000;
    background-color: #ffb3b3;
    border-color: #d6e9c6;
    padding: 8px 35px 8px 14px;
    margin: 10em auto 10em auto;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.not-found-error {
    vertical-align: middle;
    text-align: center;
    min-height: 50px;
    font-size: 25px;
    color: #990000;
    background-color: #f2a55e;
    border-color: #d6e9c6;
    padding: 8px 35px 8px 14px;
    margin: 10em auto 10em auto;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.server-error .client-error .not-found-error span {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}
