

/**

ISA-Tab Viewer CSS
*/

.toolbar {
    width: 100%;

    padding: 15px;
    background-color: #f1f2f1;

}

.isa-view {
    color: #35495E;
    font-size: 12px;
    width: 100%;
    height: 100%;
}

.isa-study-list {
    height: 100%;
    width: 15%;
    padding: 5px;
    float: left;
}

.isa-study-list ul {
    list-style: none;
    -webkit-padding-start: 10px;
}

.isa-study-list li {
    color: #35495E;
    font-size: 1.25em;
    font-weight: bolder;
    cursor: pointer;
}

.isa-study-list li:hover, .isa-study-list li.active {
    color: #3B97D3;
}

.isa-study-list h3 {
    font-size: 1.4em;
    font-weight: bolder;
    text-transform: uppercase;
}

.isa-breadcrumbs ul {

    list-style: none;
    -webkit-padding-start: 0px;
    font-size: 1.1em;
    font-weight: bolder;
    text-transform: uppercase;
    border-radius: 4px;
    padding-bottom: 20px;
}

.isa-breadcrumbs li {
    float: left;
    margin-right: 0px;
    color: #3B97D3;
    cursor: pointer;
    padding: 9px;
}

.isa-breadcrumbs li.active {
    background-color: #3B97D3;
    padding: 10px;
    color: white;
}

.isa-breadcrumbs li.active:hover {
    background-color: #005580;
    padding: 10px;
    color: white;
}

.isa-main-view {
    float: left;
    width: 100%;
    height: 100%;
}

#study-info {
    width: 100%;
    height: 800px;
    overflow-y: scroll;
    margin-top: 20px;
}

.modal-dialog {
    width: 80%;
}

#table-info {
    width: 100%;
    height: 500px;
    overflow: scroll;
}

#study-id {
    color: #3B97D3;
    font-size: 1.6em;
    font-weight: bolder;
    padding-bottom: 10px;
    border-bottom: 1px solid #f1f2f1;
}

#study-title {
    font-size: 1.8em;
    font-weight: bolder;
    padding-top: 20px;
}

#study-description {
    padding-top: 10px;
    font-size: 1.2em;
    font-weight: normal;

}

.characteristic_type {
    font-weight: bolder;
}

.distribution {
    float: left;

    font-weight: bolder;
    font-size: .9em;
    width:80%;
}


.distribution-value {
    float: right;
    color: white;
    text-align: right;
    width: 20%;
}

.distribution-value span {
    text-align: right;
    color: #3B97D3;

    font-weight: bolder;
    padding: 4px 7px;
}

.section-header {
    color: #AAA;
    font-weight: normal;
    font-size: 1.5em;
}

#publications ul, #assays ul {
    list-style: none;
    -webkit-padding-start: 0px;
    overflow: scroll;
    width: 100%;
}

#sample-distribution ul {
    list-style: none;
    -webkit-padding-start: 0px;
    width: 100%;
}


.distribution-group {
    margin-bottom: 3px;
    width: 100%;
    clear: both;
}

#protocols, #factors, #contacts {
    width: 100%;
    float: left;
}

#protocols ul, #factors ul, #contacts ul {
    list-style: none;
    -webkit-padding-start: 0px;
    overflow: scroll;
    width: 100%;
}

#publications ul li {
    float: left;
    font-size: 1em;
    width: 100%;
}

#assays ul li, #sample-distribution ul li {
    float: left;
    margin-right: 10px;
    font-size: 1em;
    width: 300px;
    min-width: 300px;
    background-color: #ecf0f1;
    max-height: 300px;
    min-height: 300px;
    padding: 5px;
    margin-bottom: 10px;
    border-radius: 5px;
    cursor: pointer;
}

#protocols ul li, #factors ul li {

}

#filters {
    height: 70%;
    overflow-y: scroll;
}
#assay-list {
    height: 200px;
}

.publication-title {
    font-weight: bolder;
    font-size: 1em;
}

.publication-authors, .publication-pubmed-id {
    font-weight: normal;
    font-size: .8em;
    color: #7f8c8d;
}

.type-tag {
    font-weight: bolder;
    background-color: #ECF0F1;
    color: #7F8C8D;
    font-size: .8em;
    padding: 3px 5px;
    border-radius: 3px;
    text-transform: lowercase;

}

.protocol-name {
    font-weight: bolder;
}

/*
    assay types
*/

#assays, #publications, #samples {
    padding-bottom: 30px;
    padding-top: 30px;
}

.measurement-type, .technology-type {
    font-weight: bolder;
    font-size: 14px;

}

.technology-platform {
    font-weight: normal;
    color: #aaa;
    font-size: 1em;
}

.assay-icon {
    background-size: 40px;
    width: 40px;
    height: 40px;
    margin: 0 auto;
}

.assay-information {
    width: 80%;
    display: inline-block;

}

.assay-information .assay-file-name {
    width: 60%;
    font-size: .8em;
    text-overflow: clip;
    text-overflow: ellipsis;
    text-overflow: "…";
}

.assay-count {
    width: 20%;
    display: inline-block;
    float: right;
}

.assay-count .count-badge {
    padding-top: 4em;
}

#reset-button {
    color: white;
    font-weight: bolder;
}
